html{
    background: #F59408;
}

.wrapper{
   margin-left: 10%;
   margin-right: 10%;
}

.nav{
    /*border: solid red/*/
    background: rgba(2,23,62,1);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    display: block;
}

.navTitle{
    /*border: solid green;*/
    color: white;
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 5%;
}
.navTabs{
    /*border: solid blue;*/
    display: inline-block;
    width: 65%;
    margin: 20px;
}

.opLink{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.content, .create{
    border: solid white .8px;
    position: absolute;
    top: 16em;
    right: 0;
    left: 0;
}

.contentTable{
    background: white;
    padding: 10px;
}

.tableBorder {
    text-align: left;
    border-bottom: solid #F59408 .8px;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 15px;
    display: block;
}

.borderName {
    display: inline-block;
    margin-right: 25px;
    min-width: 100px;
}

.tableList{
    display: block;
}

.firstName, .lastName, .delete{
    display: inline-block;
    font-size: 20px;
}

.input{
    border: solid white;
    margin: 15px;
    background: white;
    width: 100%;
}

.form{
    height: 25px;
    width: 85%;
}

#search{
    cursor: pointer;
}

.searchForm{
    display: flex;
}

.navForm{
    height: 25px;
    width: 100%;
}

#subBtn{
    background-color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 15px;
    width: 100%;
    cursor: pointer;
}

.leftMargin{
    margin-left: 10px;
}

.rightPlace{
    text-align: right;
    width: 60%;
}

.setting{
    cursor: pointer;

}

.selected{
    border-bottom: solid white;

}
.delete{
    cursor: pointer;
}