<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer_App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class = "nav">
    <div class="wrapper">
        <div class = "navTitle">
            <h1>Customer Application</h1>
            <div class ="navSearch">

                <div class ="searchForm">
                    <div id  ="search" class ="material-icons">search</div>
                    <input placeholder="Search Customer" class ="navForm" id ="searchN" type ="text" name ="search" />
                </div>
            </div>
        </div>

        <div class = "navTabs">
            <p class ="tabOp selected">
                <a class = "opLink" href = "/customers">Customers</a>
            </p>

            <p class ="tabOp">
                <a class = "opLink" href = "/create">Add New Customers</a>
            </p>

            <p class ="tabOp">
                <a class = "opLink" href = "/delete">Delete A Customer</a>
            </p>
        </div>
    </div>
</div>
<div class ="content">
    <div class="wrapper">
        <h2>Customer List:</h2>
        <div class = "contentTable">
            <div class ="tableList">
                <div class ="tableBorder">
                    <div class ="borderName">
                        <p class ="firstName"><strong>First Name</strong></p>
                    </div>
                    <div class ="borderName">
                        <p class ="lastName"><strong>Last Name</strong></p>
                    </div>
                </div>
            </div>
            <div class ="tableList" th:each = "customers: ${customers}">
                <div class ="tableBorder">
                    <div class ="borderName">
                        <p class ="firstName" th:text="${customers.firstName}"><br></p>
                    </div>
                    <div class ="borderName">
                        <p class ="lastName" th:text="${customers.lastName}"></p>
                    </div>
                    <div class ="borderName rightPlace">
                        <i class ="setting material-icons">turned_in</i>
                    </div>
                    <br>
                 </div>
            </div>
        </div>
    </div>
</div>
<script src="lib/jquery/jquery.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>