<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer_App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<div class = "nav">
    <div class="wrapper">
        <div class = "navTitle">
            <h1>Customer Application</h1>
        </div>

        <div class = "navTabs">
            <p class ="tabOp">
                <a class = "opLink" href = "/customers">Customers</a>
            </p>

            <p class ="tabOp">
                <a class = "opLink" href = "/create">Add New Customers</a>
            </p>

            <p class ="tabOp selected">
                <a class = "opLink" href = "/delete">Delete A Customer</a>
            </p>
        </div>
    </div>
</div>

<div class="content">
    <div class = "wrapper">
        <h2>Delete Selected Customers:</h2>
            <div class ="contentTable">
                    <div class ="tableList" th:each = "delete: ${delete}">
                        <div class ="tableBorder">
                            <div class="borderName">
                                <p class ="firstName" th:text="${delete.firstName}"></p>
                            </div>
                            <div class ="borderName">
                                <p class ="lastName" th:text="${delete.lastName}"></p>
                            </div>
                            <div class ="borderName rightPlace">
                                <p onClick ="refresh()" class ="delete" th:id = "${delete.id}">&#10006;</p>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
</div>
<script src="lib/jquery/jquery.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>